
  <% if resource.errors.present? %>
    <div>
      <h5><%= t('.header', count: resource.errors.count) %>:</h5>

      <ul>
        <% resource.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>